scripts/**/*.js
jest.config.base.js

**/jest.config.js
**/rollup.config.js
**/.eslintrc.js
**/dist/**
**/node_modules/**
**/generated/**
**/*.js.map
**/*.spec.js
**/*.test.js
**/*.spec.ts
**/*.test.ts
**/*.spec.jsx
**/*.test.jsx
**/*.spec.tsx
**/*.test.tsx
**/__tests__/**